PORT=3000

JENKINS_BASE_URL=http://localhost:8080
JENKINS_JOB_PLAYER=PLAYER

JENKINS_USER=admin
JENKINS_API_TOKEN=REEMPLAZAR_CON_API_TOKEN_REAL

JENKINS_POLL_INTERVAL_MS=1500

JENKINS_DASHBOARD_BASE_URL=http://<IP_DE_TU_HOST>:3000
